* {
    margin: 0;
    padding: 0;
}

main{
    background-image: url("background/Background\ \(16\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-weight: 400;
}

.continue a{
    text-decoration: none;
}

.continue a{
    position: relative;
    top: 525px;
    right: 25px;
    float: right;
    text-align: center;
    font-size: 36px;
    color: white;
    padding: 1px 30px 1px 1px;
}